.spacer {
  width: 100%;
  margin: 30px 0;
}

.error-div {
  font-size: 2em;
  color: rgb(141, 141, 141);
}

.content {
  margin: 30px 0;
}

.display-name {
  font-size: 2em;
  color: #6b6b6b;
}

.username {
  font-size: 1.1em;
  color: #0077e4;
}

.long-text {
  font-family: serif;
  font-size: 1.5em;
  color: #5e5e5e;
}

.long-text code {
  font-size: 0.75em;
  background: #40a9fe21;
  padding: 2px 6px;
  border-radius: 2px;
  color: #2c597d;
}

.no-text {
  text-align: center;
  font-size: 1.5em;
  color: #40a9fe61;
  padding-top: 50px;
}